<%- include('includes/head.ejs') %>
</head>

<body>
  <%- include('includes/navigation.ejs') %>
  <main>
    <div class="container1">
      <div class="box1">

        <h1>el ayurveda y los distintos <i>doshas</i></h1>
        <p>¿te gustaría saber qué biotipo o dosha predomina en vos?</p>

        <div class="button-center">
          <button class="btn" id="startPollButton">SÍ RE</button>
          <button class="btn" id="noPollButton">NA PAJA</button>
        </div>

      </div>
    </div>
  </main>
  <script type="text/javascript" src="/scripts/buttons.js"></script>
<%- include('includes/end.ejs') %>